.section,
.aside {
    min-height: 90vh;
    border-radius: 10px;
    overflow: auto;
}

.aside::-webkit-scrollbar {
    -webkit-appearance: none;
}

.aside::-webkit-scrollbar:vertical {
    width: 6px;
}

.aside::-webkit-scrollbar-button:increment,
.aside::-webkit-scrollbar-button {
    display: none;
}

.aside::-webkit-scrollbar:horizontal {
    height: 10px;
}

.aside::-webkit-scrollbar-thumb {
    background-color: #79797985;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.aside::-webkit-scrollbar-track {
    border-radius: 10px;
}

.section div {
    height: 100%;
}

.bx-cont-inf {
    width: 100%;
}

.bx-cont-inf hr {
    width: 80%;
    margin: 5% 0;
}

.min-img {
    padding: 15%;
}

.min-img div {
    height: 40vh;
    border: 1px solid;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.aside div div {
    height: 50vh;
}

.bx-fot-art {
    display: flex;
    align-items: center;
}

.bx-art-pr {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx-art-pr img {
    width: 60%;
}

.bx-mr-prd {
    min-height: 43vh;
    max-height: 43vh;
}

.bx-mr-prd div {
    height: 35vh;
}

.bx-art-sg {
    width: 90%;
    display: flex;
    align-items: center;
}

.min-img div img {
    width: -webkit-fill-available;
}

.bx-art-sg {
    margin: 2% 0;
}

.bx-txt-prd p {
    margin: 0;
    font-size: 16px;
}

.bx-txt-prd h3,
h4 {
    font-size: 26px;
}

.bx-txt-prd h4 span,
.bx-txt-prd p span {
    color: #fd0000;
    font-size: 14px;
}

.bx-txt-prd section p,
.bx-car-prd section ul {
    line-height: 36px;
    font-size: 16px;
}

.bx-mr-prd {
    overflow: hidden;
    scroll-snap-type: x mandatory;
}

.bx-mr-prd div {
    border: 1px solid #00000075;
    border-radius: 5px;
    scroll-snap-align: start;
}

.bx-mr-prd div:hover {
    transform: scale(1.05);
    border: 1px solid #000000e1;
    -webkit-box-shadow: 0px 9px 21px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 21px -12px rgba(0, 0, 0, 0.75);
}

.btn-direct {
    width: 4vw;
    height: 6vh;
    border-radius: 50%;
    border: none;
    background: #FFF;
}

.btn-direct:hover {
    color: #f51f1fd6;
    -webkit-box-shadow: 0px 9px 21px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 21px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 21px -12px rgba(0, 0, 0, 0.75);
}

.bx-pr-art-sg {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.item-car {
    display: flex;
    align-items: center;
    gap: 4%;
    line-height: 38px;
}

.bx-mr-car-prd,
.bx-des-prd {
    text-align: center;
    margin-top: 4%;
    display: flex;
    justify-content: center;
}

.bx-mr-car-prd h5 {
    margin-bottom: 4%;
}

.item-car p {
    margin: 0;
}

.bx-car-items,
.bx-des-prd {
    width: 80%;
}

.bx-des-prd div {
    text-align: justify;
    line-height: 36px;
    margin-top: 4%;
}

.bx-btns-comp{
    line-height: 30px;
}

div .bx-btns-comp div{
    height: auto;
}

.bx-btns-comp button {
    width: 75%;
    border-radius: 5px;
    border: none;
    margin: 3% 0px;
    transition: all 400ms;
}

.bx-btns-comp p{
    font-size: 11px;
    color: gray;
}

.bx-btns-comp p span{
    font-size: 11px;
    color: #000;
    font-weight: bold;
}

#btn-buy {
    background-color: #f51f1fd6;
    color: #FFF;
}

#btn-buy:hover {
    transform: scale(1.05);
}

#btn-add-carr:hover {
    background-color: rgb(221, 221, 221);
}

.bx-cont-carr-pro{
    padding: 4%;
}

.bx-prp-carr-comp{
    display: flex;
    justify-content: space-between;
}

.bx-items-carr-comp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline: 1px solid #a9a1a1;
    border-radius: 10px;
    padding: 1%;
    background: #e3e3e357;
    text-align: center;
    min-height: 80vh;
}

.bx-items-carr-comp img{
    width: 100%;
}

.bx-items-carr-comp h4{
    margin: 4% 0;
    font-size: 16px;
}

.bx-items-carr-comp button{
    border: none;
    padding: 1%;
    border-radius: 5px;
    background: #f51f1fd6;
    color: #FFF;
    font-size: 12px;
    transition: all 400ms;
}

.bx-items-carr-comp button:hover{
    background: #df2222;
}

.bx-items-carr-comp p{
    font-size: 12px;
}

.bx-res-carr-comp{
    outline: 1px solid gray;
    border-radius: 5px;
    background: #e3e3e357;
    height: 20vh;
    padding: 1%;
}

.bx-res-carr-comp h5{
    border-bottom: 1px solid;
    padding: 1%;
}