.section, .aside{
    border: 1px solid;
    height: 50vh;
    border-radius: 10px;
}

.section div{
    height: 100%;
}

.bx-cont-inf{
    width: 80%;
}

.min-img{
    padding: 15%;
}

.min-img div{
    height: 40vh;
    border: 1px solid;
    border-radius: 5px;
}

.aside div div{
    height: 50vh;
}

.bx-art-pr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx-art-pr img{
    width: 60%;
}

.bx-mr-prd{
    overflow: auto;
}

.bx-mr-prd{
    padding: 2%;
}

.bx-art-sg{
    width: 80%;
}